.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

/* Carousel */


.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

#press { 
    background-color: #8f8f8f;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


.testimonial-text{
    text-align: center;
    font-size: 3rem;
    line-height: 1.5;
}

#testimonials .paragraph {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2.5rem;
}

/* Carousel End */
